/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

header {
    background-color: #03614e;
    padding: 15px;
    text-align: center;
    color: white;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    margin: 0 15px;
    font-family: 'lien';
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 70px;
    padding: 20px;
}

@font-face {
    font-family: 'Autumn';
    src: url('font/autumn.ttf') format('truetype');
}

@font-face {
    font-family: 'lien';
    src: url('font/lien.otf') format('truetype');
}

h1 {
    color: #ffffff;
    font-family: 'Autumn';
    font-size: 40px;
}

h2 {
    color: #000000;
    font-family: 'lien';
}

p {
    color: #000000;
    font-family: 'lien';
}

footer {
    background-color: #03614e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding-bottom: 60px;
}

/* Barre de progression */
.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    top: 70px;
    z-index: 999;
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
    transition: width 0.1s;
}


.page-accueil .curiosites {
    text-align: center;
}

.page-accueil .image-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.page-accueil .image-column {
    width: 48%;
    text-align: center;
}

.page-accueil .image-center {
    margin-top: 20px;
    text-align: center;
}

.page-accueil .image-row img, .page-accueil .image-center img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
