* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

header {
    background-color: #03614e;
    padding: 15px;
    text-align: center;
    color: white;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    margin: 0 15px;
    font-family: 'lien';
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 70px;
    padding: 20px;
}

@font-face {
    font-family: 'Autumn';
    src: url('font/autumn.ttf') format('truetype');
}

@font-face {
    font-family: 'lien';
    src: url('font/lien.otf') format('truetype');
}

h1 {
    color: #ffffff;
    font-family: 'Autumn';
    font-size: 40px;
}

h2 {
    color: #000000;
    font-family: 'lien';
}

p {
    color: #000000;
    font-family: 'lien';
}

p1 {
    color:#ffffff
}

a {
    color:#ffffff;
}

img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    background-color: #03614e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color:#ffffff
}

main {
    padding-bottom: 60px; /* Ajustez en fonction de la hauteur de votre footer */
}

.progress-container {
    width: 100%; /* Largeur de la barre de progression */
    background-color: #e0e0e0; /* Couleur de fond de la barre */
    border-radius: 5px; /* Coins arrondis */
    overflow: hidden; /* Masque les débordements */
    position: fixed; /* Fixe la barre en haut de la page */
    top: 70px; /* Positionne la barre sous le header (ajustez selon la hauteur de votre header) */
    z-index: 999; /* Assure que la barre reste au-dessus des autres éléments */
}

.progress-bar {
    height: 20px; /* Hauteur de la barre de progression */
    background-color: #4caf50; /* Couleur de la barre de progression */
    transition: width 0.1s; /* Animation pour la largeur */
}

